body {
  background-image: url(https://i.imgur.com/APbeHzH.jpeg);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Segoe Script, Papyrus, sans-serif;
  font-size: 50px;
  background-color: #1c1e3d;
  border: solid 10px #FFFFFF;
  border-radius: 30px;
  padding: 20px;
  color: #FFFFFF;
  
}

#message {
  font-family: Ink Free, Skia, sans-serif;
  font-size: 40px;
  color: #FFFFFF;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  gap: 0.25rem 0.25rem;
}

.sqr {
  font-family: Segoe Script, Papyrus, sans-serif;
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid #FFFFFF;
  border-radius: 20%;
  font-size: 58px;
  text-align: center;
  background-color: #65689c;
}

.sqr:hover {
  background-color: rgba(213,248,255, 0.5);
}

#reset {
  margin: 25px;
  border: ridge;
  border-radius: 20%;
  border-color: #FFFFFF;
  padding: 10px 20px;
  background-color: #1c1e3d;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #000000; /* Adds outline around text */
  font-size: 24px;
  font-family: Impact, sans-serif;
  box-shadow: 0 5px #65689c; /* Adds a shadow effect on the vertical offset so it looks 3D */
}

#reset:hover {
  background-color: #65689c;
  cursor: pointer;
}

#reset:active {
  box-shadow: 0 2px #65689c; /* Box shadow becomes 2px when button is clicked */
  transform: translateY(3px); /* Moves button down vertically 3px */
}
